/* Variables */
/* Base */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(31, 31, 31);
}

/* Layout */
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0;
}

/* HEADER */
.header {
  display: flex;
  flex-direction: column;
  padding: 5px 5px 10px 10px;
  background-image: linear-gradient(black, rgb(41, 41, 41) 70%);
  border-bottom: 10px groove rgb(24, 24, 24);
}
.header-feed {
  width: 100%;
  overflow: hidden;
  padding: 5px;
  position: relative;
}
.header-feed-line {
  display: inline-block;
  white-space: nowrap;
  font-family: "Menlo", sans-serif;
  color: rgb(204, 204, 204);
  animation: feedline 20s linear infinite;
}
.header-container {
  display: flex;
}
.header-container .header-maincontent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  padding: 20px 20px 10px 20px;
  border: 2px solid rgb(64, 64, 64);
  border: 2px solid rgb(64, 64, 64);
  border-radius: 12px;
}
.header-container .header-maincontent .logo {
  display: flex;
  align-items: center;
}
.header-container .header-maincontent .logo-link {
  margin-right: 25px;
  font-size: 4em;
  color: rgb(188, 137, 189);
}
@media screen and (max-width: 440px) {
  .header-container .header-maincontent .logo-link {
    font-size: 13vw;
  }
}
.header-container .header-maincontent .logo-heading {
  font-family: "Tourney", sans-serif;
  font-size: 3em;
  text-transform: uppercase;
  color: rgb(114, 149, 92);
}
@media screen and (max-width: 440px) {
  .header-container .header-maincontent .logo-heading {
    font-size: 11vw;
  }
}
.header-container .header-maincontent .author {
  font-family: monospace;
  align-self: flex-end;
  color: rgb(204, 204, 204);
}
@media screen and (max-width: 440px) {
  .header-container .header-maincontent .author {
    font-size: 3vw;
  }
}

/* NAVIGATION */
.menu-checkbox {
  display: none;
}

.hamburger-menu {
  display: none;
  position: fixed;
  z-index: 50;
  top: 185px;
  left: 5px;
}
@media screen and (max-width: 992px) {
  .hamburger-menu {
    display: flex;
    align-items: center;
  }
}
.hamburger-menu .menu-btn {
  display: block;
  padding: 5px 10px;
  font-size: 2em;
  border: 2px solid rgb(64, 64, 64);
  border-radius: 12px;
  background-color: rgb(41, 41, 41);
  text-decoration: none;
  color: rgb(204, 204, 204);
}
.hamburger-menu .menu-btn:hover {
  background-color: black;
  transform: scale(1.05);
}
.hamburger-menu .menu-btn .fa-solid {
  cursor: pointer;
}

.nav {
  position: fixed;
  left: -100vw;
  top: 243px;
  min-width: 30%;
  background-image: linear-gradient(to left, black, rgb(41, 41, 41) 70%);
  border-radius: 15px 7px 7px 15px;
}
@media screen and (min-width: 992px) {
  .nav {
    display: none;
  }
}
.nav-menu-list {
  font-size: 2em;
  font-family: "Tourney", sans-serif;
  list-style: none;
}
.nav-menu-list-link {
  text-decoration: none;
  color: rgb(204, 204, 204);
}
.nav-menu-list-entry {
  padding: 20px 20px;
  border-bottom: 2px dashed rgb(64, 64, 64);
  border-radius: 0 0 7px 15px;
}
.nav-menu-list-entry:hover {
  background-color: rgb(41, 41, 41);
  transform: scale(1.05);
}
.nav-menu-list-entry .menu-icon {
  margin-right: 10px;
}

/* MAIN WRAPPER */
.main-wrapper {
  display: flex;
  flex: 1 1 auto;
  /* BANNER */
  /* MAIN */
}
@media screen and (max-width: 768px) {
  .main-wrapper {
    flex-direction: column;
    align-items: center;
  }
}
.main-wrapper .banner-left {
  width: 20%;
  background-color: black;
  display: flex;
  flex-direction: column;
  color: rgb(196, 148, 124);
  font-family: "Monaco", sans-serif;
}
@media screen and (max-width: 768px) {
  .main-wrapper .banner-left {
    width: 100%;
    align-items: center;
  }
}
.main-wrapper .banner-left-image {
  max-width: 400px;
  margin: 100px 10px 10px 10px;
  border-radius: 0 50px;
}
@media screen and (max-width: 440px) {
  .main-wrapper .banner-left-image {
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  .main-wrapper .banner-left-image {
    margin-top: 40px;
  }
}
.main-wrapper .banner-left-text {
  padding: 10px;
  margin: 20px 10px 50px 10px;
  background-color: rgb(41, 41, 41);
  border: 2px solid rgb(64, 64, 64);
  border-radius: 12px;
}
.main-wrapper .main {
  width: 80%;
  color: rgb(204, 204, 204);
}
@media screen and (max-width: 768px) {
  .main-wrapper .main {
    width: 100%;
  }
}
.main-wrapper .main .navbar {
  display: none;
  padding: 10px 10px 5px 10px;
  border-bottom: 2px solid rgb(64, 64, 64);
}
@media screen and (min-width: 992px) {
  .main-wrapper .main .navbar {
    display: flex;
  }
}
.main-wrapper .main .navbar .navtab {
  padding: 10px 20px;
  border: 4px outset rgb(64, 64, 64);
  border-radius: 0 20px 0 0;
}
.main-wrapper .main .navbar .navtab-link {
  display: flex;
  text-decoration: none;
  font-family: "Tourney", sans-serif;
  font-size: 2em;
  color: rgb(204, 204, 204);
}
.main-wrapper .main .navbar .navtab-link .tab-icon {
  margin-right: 10px;
}
.main-wrapper .main .navbar .navtab:hover {
  background-color: black;
  transform: scale(1.1) rotate(-2deg);
}
.main-wrapper .main .navbar .navtab.tab-active {
  background-color: #363636;
}
.main-wrapper .main .maincontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 10px;
  padding: 40px;
  background-color: rgb(24, 24, 24);
  border: 2px solid rgb(64, 64, 64);
}
@media screen and (max-width: 768px) {
  .main-wrapper .main .maincontent {
    padding: 20px;
  }
}
.main-wrapper .main .maincontent-heading {
  text-align: center;
  font-family: "Roboto Mono", monospace;
  color: rgb(210, 187, 133);
}
.main-wrapper .main .maincontent-paragraph {
  margin: 20px 0;
  font-size: 20px;
  font-family: "Monaco", sans-serif;
  color: rgb(170, 218, 250);
}
.main-wrapper .main .maincontent-paragraph .fa-code {
  color: rgb(188, 137, 189);
}
.main-wrapper .main .maincontent-link-button {
  padding: 20px 40px;
  font-family: "Menlo", sans-serif;
  color: rgb(188, 137, 189);
  background-color: rgb(41, 41, 41);
  border: 2px solid rgb(64, 64, 64);
  border-radius: 12px;
  text-decoration: none;
}
.main-wrapper .main .maincontent-link-button:hover {
  background-color: rgb(24, 24, 24);
}
@media screen and (max-width: 440px) {
  .main-wrapper .main .maincontent-link-button {
    padding: 10px 20px;
    font-size: 5vw;
  }
}
.main-wrapper .main .maincontent .about-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 10px;
}
.main-wrapper .main .maincontent .about-info-card {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 10px;
  border: 2px solid rgb(64, 64, 64);
  border-radius: 12px;
  background-color: rgb(41, 41, 41);
}
.main-wrapper .main .maincontent .about-info-card .card-icon {
  padding: 10px;
  color: rgb(196, 148, 124);
}
.main-wrapper .main .maincontent .about-info-card .card-title {
  padding: 10px;
  font-family: "Menlo", sans-serif;
  color: rgb(188, 137, 189);
}
.main-wrapper .main .maincontent .about-info-card .card-desc {
  padding: 10px;
  font-family: "Monaco", sans-serif;
  color: rgb(170, 218, 250);
  text-align: center;
  list-style: none;
}
.main-wrapper .main .maincontent .about-info-card:hover {
  transform: scale(1.05);
}
.main-wrapper .main .maincontent .location {
  margin: 20px 10px;
}

/* FOOTER */
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-image: linear-gradient(black, rgb(41, 41, 41) 70%);
}
.footer-nav {
  font-family: "Tourney", sans-serif;
  list-style: none;
}
.footer-nav-link {
  display: flex;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  color: rgb(114, 149, 92);
}
.footer-nav-link .fa-solid {
  margin-right: 10px;
}
.footer-nav-link:hover {
  background-color: black;
  transform: scale(1.05);
}
.footer-copyright {
  font-family: "Menlo", sans-serif;
  text-align: center;
  color: rgb(204, 204, 204);
}

.download-cv {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: flex-start;
  z-index: 50;
}
.download-cv:hover .download-cv-hint {
  opacity: 1;
  visibility: visible;
}
.download-cv-hint {
  padding: 5px 10px;
  border: 2px solid rgb(64, 64, 64);
  border-radius: 12px 12px 0 12px;
  background-color: rgb(204, 204, 204);
  font-family: "Menlo", sans-serif;
  color: rgb(24, 24, 24);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.download-cv-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 30px;
  text-decoration: none;
  border: 2px solid rgb(64, 64, 64);
  border-radius: 50%;
  background-color: rgb(114, 149, 92);
  font-family: "Menlo", sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: rgb(204, 204, 204);
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.download-cv-link:hover {
  background-color: rgba(114, 149, 92, 0.5);
  transform: scale(1.1);
}

/* SHOW AND HIDE MENU */
.menu-checkbox:checked ~ .nav {
  left: 0px;
  transition: left 0.4s ease-in-out;
}

/* ANIMATIONS */
@keyframes feedline {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(-100%);
  }
}