/* Base */

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $color-base;
}

%fullSpace {
  width: 100%;
  height: 100%;
}

@mixin borderDefault{
  border: 2px solid $color-border-primary;
  border-radius: 12px;
}