/* Variables */

// primary colors
$color-base: rgb(31, 31, 31);
$color-base-secondary: rgb(41, 41, 41);

// borders
$color-border-primary: rgb(64, 64, 64);

// vscode colors
$color-white: rgb(204, 204, 204);
$color-black: rgb(24, 24, 24);
$color-blue: rgb(103, 154, 209);
$color-lightblue: rgb(170, 218, 250);
$color-darkorange: rgb(196, 148, 124);
$color-green: rgb(114, 149, 92);
$color-violet: rgb(188, 137, 189);
$color-yellow: rgb(210, 187, 133);

// fonts
$font-menlo: "Menlo", sans-serif;
$font-roboto-mono: "Roboto Mono", monospace;
$font-monaco: "Monaco", sans-serif;
$font-tourney: "Tourney", sans-serif;